body {
  margin: 0;
  padding: 0;
}

.header-container {
  background: #03484D;

  @apply grid grid-cols-12 py-2
}

.logo-container {
  @apply col-span-2
}

.logo {
  @apply h-[3.5rem]
}

.search-container {
  @apply col-span-4 bg-red-500 border-none flex rounded-lg p-0 m-0
}

input, select {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.assist-container{
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
}